@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can also add your own global styles here */
body {
  font-family: system-ui, sans-serif;
}

.post-card-bg {
  background-color: #fdfaf6;
}
